<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- Login filter -->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>br.edu.ifba.eunapolis.controller.LoginFilter</filter-class>
    </filter>
    <!-- Set the login filter to secure all the pages in the /secured/* path of the application  -->
    <filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/secured/*</url-pattern>
	</filter-mapping>

	<!-- By default go to secured welcome page -->
	<welcome-file-list>
		<welcome-file>/secured/listaCompra/cad_lista_compra.xhtml</welcome-file>
	</welcome-file-list>
</web-app>
